body {
    margin: 5%;
} 

h1 {
    border-bottom: 1px solid var(--gray);
    font-size: 40px;
    margin-bottom: 1rem;
    margin-top: 0;
    padding-bottom: 1rem;
}

input[type='text'] {
    border: 1px solid var(--gray);
    box-sizing: border-box;
    width: 100%;
    outline: auto;
}

.max-results {
    display: flex;
    margin-bottom: 1rem;
}

input[type='radio'] {
    border: 1px solid var(--gray);
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
